.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 8px;
  padding: 0px 16px;
  color: rgb(204, 204, 204);
  background-color: rgb(71, 71, 71);
  border: none;
  border-radius: 10px;
}

.header ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 0;
}

.header li {
  padding: 20px;
}
