.note {
  border: 1px solid rgb(156, 156, 156);
  background-color: rgb(20, 20, 20);
  padding: 20px;
  margin: 10px;
  text-align: left;
  max-width: 250px;
  display: inline-block;
}

.note button {
  margin: 3px;
}
