[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
sqlmodel = "*"
python-dotenv = "*"
psycopg2 = "*"
alembic = "*"
nh3 = "*"
clerk-backend-api = "*"

[dev-packages]

[requires]
python_version = "3.13"
